.team-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
  
  .team-container h2 {
    color: #ff5c33;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #ff5c33;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .team-card:hover {
    box-shadow: 0 0 20px #ff5c33;
    transform: translateY(-10px);
  }
  
  .team-member {
    padding: 20px;
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .team-member h3 {
    font-size: 1rem;
    margin: 10px 0;
    color: #ff5c33;
  }
  
  .team-member p {
    font-size: 0.8rem;
    color: #00004d;
    letter-spacing: 1px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #ff5c33;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: translateY(-5px);
  }
  
  