 .orange-button {
    background-color: #ff5c33;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .orange-button:hover {
    background-color: #ff5c33;
  }
  
  .card-buttons {
    display: flex;
    gap: 10px;
  }
  
  .card-home {
    width: 800px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .card-image-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    position: relative;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    transform: translateY(-50%);
  }

  .circles-container {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.8;
  }
  
  .circle-1 {
    width: 300px;
    height: 300px;
    background-color: #00004d;
  }
  
  .circle-2 {
    width: 300px;
    height: 300px;
    background-color: #ff5c33;
    transform: translate(-50%, -50%);
  }
  
  .circle-3 {
    width: 300px;
    height: 300px;
    background-color: #4d4d00;
    transform: translate(-100%, 0);
  }

  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  
  .alumni-stories{
    color: #ff5c33;
    margin-top: 300px;
    position: relative;
  }