 
  .circles-container {
    margin-top: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .circle {
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-1 {
    width: 300px;
    height: 300px;
    background-color: #00004d;
  }
  
  .circle-2 {
    width: 300px;
    height: 300px;
    background-color: #ff5c33;
    transform: translate(-50%, -75%);
  }
  
  .circle-3 {
    width: 300px;
    height: 300px;
    background-color: #4d4d00;
    transform: translate(-100%, 0);
  }

  .circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  
  .alumni-stories{
    color: #ff5c33;
    margin-top: 300px;
    position: relative;
  }