.navbar {
    height: 90px;
} 
.nav-main{
    font-weight: bold;
}
#nav-or{
    color: #ff5c33;
    margin-left: 1em;
}
#nav-blue{
    color: #00004d;
    margin-left: 1em;
    display: block !important;
}
.nav-item{
    padding-left: 1em !important;
    font-size: 20px;
    position: relative;
    top: -10px;
    margin-top: 3.5rem;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #00004d;
}
  
.logo{
    margin-left: 3em;
}
#m-logo{
    height: 50px;
    margin-left: 1.5em;
}
/* !!!!!!!!!!! */
/* remove whitespace on navbar */
.navbar-default {
    box-shadow: none !important;
}

/* responsiveness */
@media (max-width: 768px) {
    /* remove whitespace on navbar */
    .navbar-default {
        box-shadow: none !important;
    }
    .navbar{
        justify-content: center !important;
    }
}        
