.nav-main{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
#nav-or{
    color: #ff5c33;
    margin-left: 1em;
}
#nav-blue{
    color: #00004d;
    margin-left: 1em;
}
.nav-it{
    padding-left: 8em !important;
    font-size: 20px;
}
.logo{
    margin-left: 6em;
    margin-right: 30px;
}
.navbar-brand {
    display: flex;
    align-items: center;
  }
#m-logo{
    height: 50px;
    margin-left: 6em;
}
.navbar-nav {
    margin-left: auto;
}
.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
}
.dropdown-toggle::after {
    display: none;
  }
.dropdown-item {
    font-size: 16px;
    font-weight: 500;
    /* color: #333; */
} 
@media (max-width: 991.98px) {
.nav-main {
  flex-wrap: wrap;
}

.nav-item {
  margin-right: 0;
  margin-bottom: 10px;
}

.navbar-nav {
  width: 100%;
  padding-left: 0;
}

.dropdown-menu {
  position: static !important;
  display: none;
  overflow: visible !important;
  float: none !important;
  margin-top: 0 !important;
  margin-bottom: 15px;
}

.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
  display: block;
}
  }
/* isplay navbar as sidebar on minimizing window */
/* navbar-nav .nav-item .dropdown-menu {
position: absolute;
top: 50%;
    left: 20%;
    right: 20%;
  }
   */

   