#footer{
    background-color: #00004d !important;
    color: white !important;
    padding-top: 2em;
    padding-bottom: 5em;
}

#foot-img{
    height: 50px;
    color: white;
}

#topics, #top{
  padding-top: 3em;
  font-size: 10px;
}

#contact-details{
  justify-content: baseline;
}

.text-reset, .text-r, .me-2{
  font-size: 20px !important;
}

#text-r{
    margin-right: 1px;
}
.me-3{
    color: #ff5c33;
    font-size: 15px;
}

.me-2{
  color: white;
}

.footer-icons{
    margin-bottom: none;
    margin-right: none;
    color: white;
    margin-top: 2em;
}

.footer-icons a{
  margin-right: 10px;
}
/* responsiveness */
/* @media (max-width: 768px) {
    #footer{
        justify-content: center;
    }
} */
