/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-color: #f4f4f4;
    color: #ff5c33;
  }
  
  .no-gutters{
    /* background: white; */
    border-radius: 30px;
  }
  
  .login-img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .login-btn{
    border: none;
    outline: none;
    height: 3rem;
    width: 100%;
    background-color: #f4f4f4;
    color: #ff5c33;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .login-btn:hover{
    background-color: #ff5c33;
    border: 1px solid;
    color: #f4f4f4;
  }