.s-container{
    position: relative;
    top: 50px;
}

.s-container .swiper{
    width: 90%; /* increase the width to 90% */
    height: 15rem; /* increase the height to 15rem */
    position: unset;
    padding: 1rem; /* add some padding to give the content more space */
}

.s-container .swiper-slide{
    background: #00004d;
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    color: #ff5c33;
}

.s-container .swiper-button-prev{
    left: 10rem;
}

.s-container .swiper-button-next{
    right: 8rem;
}

.s-container .swiper-button-prev, .s-container .swiper-button-next{
    color: #ff5c33;
}

.left-s{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    display: flex;
    flex-direction: column;
}

.name>:nth-child(1)
{
    font-size: 1.4rem;
    font-weight: 600;
}

.name>:nth-child(2)
{
    font-size: 0.7rem;
}

.left-s>:nth-child(2)
{
    font-weight: bold;
    font-size: 2rem;
}

.left-s>:nth-child(3)
{
    font-size: 0.6rem;
    border: 1px solid var(--black);
    padding: 5px 10px;
    width: max-content;
    border-radius: 15px;
}

.img-m{
    position: absolute;
    right: 0;
    object-fit: contain;
    height: 150px;
    width: 150px; 
}